.hover:hover {
  background-color: lightgray;
  border-radius: 4px;
}

.homepage-image {
  background-image: url("./images/central-park-535645_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .card-body.background-color:hover {
  color: green;
} */